@font-face {
    font-family: 'Hey October';
    src: url('fonts/HeyOctober/HeyOctober-Yz37y.ttf') format('truetype');
}
@font-face {
    font-family: 'Segan';
    src: url('fonts/Segan/Segan-Light.ttf') format('truetype');
}

.brand {
	font-family: 'Hey October';
	font-size: 56px !important;
}

.nav-link {
	font-family: 'Hey October';
	font-size: 35px !important;
}

.second_font {
	font-family: 'Segan', sans-serif;
}
.body_padding {
	padding-top: 7rem;
}

.lead {
	margin-top: 15px;
}